h2.toggle {
  width: 665px;
  padding: 0 0 0 40px;
  height: 31px;
  margin: 0 0 0 10px;
  font-weight: bold;
}
h2 label.eventnum {
  /*color: #0ab0f6;*/
  float: right;
  /*color: #3c78c3;*/ /*#3ed0d2;*/
  font-size: 14px;
  margin-right: 10px;
}
h2.toggle a {
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 31px;
  display: block;
}

/*h2.toggle a:after {
  content: ">"; //"\2192"; Right arrow
  color: #fff;
  display: block;
  float: right;
  margin-right: 1rem;
  font-size: 1.5em;
  font-weight: bold;
  //font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono";
  //font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-family: Verdana, Geneva, sans-serif;
}*/

h2.toggle a:hover {
    /*color: #ccc;*/
    color: #3c78c3; /*#3ed0d2;*/
}

a img.group_logo {
  margin: 0 0 0 15px;
  height: 30px;
  width: 32px;
  vertical-align: middle;
}

h2.trigger
{
  background:url(../images/togglebar_azure.png) left top no-repeat;
}
h2.active
{
  background:url(../images/togglebar_azure.png) left bottom no-repeat;
}

div.toggle_container {
    margin: 0 0 4px 0;
    padding: 2px 0 0 0;
    background: #ffffff;
    border-top: 0px solid #d6d6d6;
    font-size: 1.2em;
    width: 1200px;
    overflow: auto;
}

div.left {
  float: left;
  width: 98%;
  margin: 4px 0 0 10px;
}

ul.video_element
{
  list-style: none;
  display: inline-block;
  margin-top: 0;
  margin-left: 0;
  width: 97%;
}

ul.video_element:hover
{
  background-color: #3c78c3;
  color: #fff;
}

ul.video_element li
{
  float: left; /* don't change */
  vertical-align: middle;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  overflow: visible;
}

ul.video_element img
{
  vertical-align: middle;
  height: 100px;
  width: 126px;
}

li div.video_thumb
{
  text-align: center;
}

li div.video_info
{
  margin: 1px 0 0 15px;
  font-size: 0.8em;
  color: #000;
}

li div.video_delete
{
  margin-left: 0;
  vertical-align: middle;
  text-align: left;
}

li div.player_desktop, li div.player_smartphone, li div.player_iphone
{
  margin-left: 40px;
  margin-top: 6px;
  max-width: 120px;
  font-size: 0.6em;
  text-align: center;
}

div.player_desktop label, div.player_smartphone label, div.player_iphone label
{
  margin-top: 6px;
}

a.play-button, a.play-button img
{
  width: 48px;
  height: 48px;
}

a.event_ondemand_delete, a.event_ondemand_delete img
{
  width: 32px;
  height: 32px;
}