/* BOOTSTRAP CUSTOMIZATION */

.table > tbody > tr > th {
    background-color: #333;
    color: #fff;
    border-color: #fff;
}

.table > tbody > tr:hover > th {
  background-color: #333;
}

.table-hover > tbody > tr:hover > td {
  background-color: #3c78c3;
  color: #fff;
}

.table-hover > tbody > tr.active:hover > td {
  color: #000;
}

/**** NAV ELEMENT ****/
.nav, 
.navbar, 
.navbar-nav {
  background-color: #333;
  font-size: 1.2em;
}
.nav a {
  color: #fff;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color: #fff;
  background-color: #3c78c3;
}
.nav > li > a:hover {
  color: #fff;
  background-color: #3c78c3;
}
.nav img {
  margin: 0 4px 0 2px;
  padding: 2px 2px 2px 2px;
}

.navbar-default 
.navbar-nav > li > a {
    color: #fff;
}
.navbar-default
.navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #3c78c3;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
  background-color: #3c78c3;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #3c78c3;
    color: #fff;
}

.dropdown-menu {
  background-color: #333;
  color: #fff;
}

.dropdown-menu > li > a {
  color: #fff;
}
.dropdown-menu > li > a:hover {
  color: #fff;
}

.panel-primary > .panel-heading {
  background-color: #333;
  border-color: #333;
  padding: 1px 1px;
  height: 40px;
}

.panel-primary > .panel-heading:hover {
  background-color: #3c78c3;
}

.panel-title {
  color: #fff;
  height: 100%;
  width: 100%;
  /*padding: 10px 10px;*/
}

a:hover, a:focus {
    color: #2A5488;
    text-decoration: none;
}

.panel-primary {
  border-color: #333;
}
.panel-primary > .panel-heading .badge {
  margin: 0 8px;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  margin-top: 10px;
}

.glyphicon-chevron-left {
  margin-right: 8px;
  margin-left: 2px;
}
.glyphicon-chevron-right {
  margin-left: 8px;
  margin-right: 2px;
}

/***************************************************/
/***************************************************/


/************************/
/**** USERS PAGE CSS ****/
/************************/

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
.spmhidip
{
   display:none;
   width:10px;
   height:3px;
}

label.error
{
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
    
/***********************************************/

h2.toggle {
  width: 665px;
  padding: 0 0 0 40px;
  height: 31px;
  margin: 0 0 0 10px;
  font-weight: bold;
}
h2 label.eventnum {
  /*color: #0ab0f6;*/
  float: right;
  /*color: #3c78c3;*/ /*#3ed0d2;*/
  font-size: 14px;
  margin-right: 10px;
}
h2.toggle a {
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 31px;
  display: block;
}

h2.toggle a:hover {
    /*color: #ccc;*/
    color: #3c78c3; /*#3ed0d2;*/
}

/*
a img.group_logo {
  margin: 6px 0 0 0;
  height: 30px;
  width: 32px;
  vertical-align: middle;
}

h2.trigger
{
  background:url(../images/togglebar_azure.png) left top no-repeat;
}
h2.active
{
  background:url(../images/togglebar_azure.png) left bottom no-repeat;
}

div.toggle_container {
    margin: 0 0 4px 0;
    padding: 2px 0 0 0;
    background: #ffffff;
    border-top: 0px solid #d6d6d6;
    font-size: 1.2em;
    width: 1400px;
    height: 100%;
    overflow: auto;
}*/

li.video_list_element 
{
  min-width: 860px;
}

div.video_list_element 
{
  min-width: 980px;
}

li.video_list_element:hover
{
    background-color: #3c78c3;
    color: #fff;
}

div.video_element_title
{
  text-align: left;
  margin-left: 2px;
  margin-bottom: 2px;
}

ul.video_element
{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  width: 100%;
}

.div-checkbox-align
{
    height: 40px; 
    float: none; 
    display: inline-block; 
    vertical-align: middle;
    text-align: right;
}

.div-btn-actions-align
{
    height: 50px; 
    float: none; 
    display: inline-block; 
    vertical-align: middle;
    text-align: right;
}

.div-btn-status-align
{
    height: 40px; 
    float: none; 
    display: inline-block; 
    vertical-align: top;
    text-align: center;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 0.9em;
}

.div-video-align
{
    height: 140px; 
    float: none; 
    display: inline-block; 
    vertical-align: middle;
}

ul.video_element li
{
  display: inline-block;
  float: none;
  vertical-align: middle;
  //font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  overflow: auto;
  padding-bottom: 4px;
  margin-right: 20px;
}

ul.video_element img
{
  //vertical-align: middle;
  height: 80px;
  width: 100px;
}

li div.video_thumb
{
  text-align: center;
  vertical-align: middle;
}

li div.video_info
{
  margin-right: 30px;
  margin-left: 6px;
  font-size: 0.9em;
  //color: #000;
}

li div.video_delete
{
  margin-left: 0;
  vertical-align: middle;
  text-align: left;
}

li div.player_desktop, 
li div.player_smartphone, 
li div.player_iphone, 
li div.video_loading, 
li div.video_download
{
  margin-top: 6px;
  max-width: 200px;
  font-size: 0.8em;
  text-align: center;
}

div.player_desktop label, 
div.player_smartphone label, 
div.player_iphone label, 
div.video_loading label, 
div.video_download label
{
  margin-top: 8px;
  font-weight: bold;
}

a.play-button
{
  width: 48px;
  height: 48px;
}

a.play-button img.video_imgdevice, div.video_loading img.video_imgdevice
{
  width: 42px;
  height: 42px;
  margin: 2px;
}

div.player_desktop img.video_imgos,
div.player_iphone img.video_imgos
{
  width: 32px;
  height: 32px;
  margin: 4px;
}

a.play-button img.video_imgdevice:hover
{
  opacity: 0.5;
}

/******************************/
/* *** VIDEO LOADING CSS3 *** */
/******************************/


.barlittle {
    background-color: #2187e7;
    background-image: -moz-linear-gradient(45deg, #2187e7 25%, #a0eaff);
    background-image: -webkit-linear-gradient(45deg, #2187e7 25%, #a0eaff);
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    width: 10px;
    height: 10px;
    //float: left;
    float: none;
    display:inline-block;
    margin-left: 10px;
    margin-top: 8px;
    text-align: center;
    opacity: 0.1;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-animation: move 1s infinite linear;
    -webkit-animation: move 1s infinite linear;
}

#block_1 {
    -moz-animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

#block_2 {
    -moz-animation-delay: .3s;
    -webkit-animation-delay: .3s;
}

#block_3 {
    -moz-animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

#block_4 {
    -moz-animation-delay: .3s;
    -webkit-animation-delay: .3s;
}

#block_5 {
    -moz-animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

@-moz-keyframes move {
    0% {
        -moz-transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -moz-transform: scale(0.7);
        opacity: 0.1;
    };
} 

@-webkit-keyframes move {
    0% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.7);
        opacity: 0.1;
    };
}

/*******************/
/*** CSS GRAFICI ***/
/*******************/

#dashboard_user_charts div, #dashboard_event_charts div {
  display:inline-block;
  float: left;
  width:800px;
  height:250px;
}


div.table_container {
  display:inline-block;
  float: left;
  margin:10px;
}



/**********************************/
/*** ONDEMAND CHECKBOX LIST CSS ***/
/**********************************/
.state-icon {
    left: -5px;
    display:inline;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}