h2.toggle {
  width: 665px;
  padding: 0 0 0 40px;
  height: 31px;
  margin: 0 0 0 10px;
  font-weight: bold;
}
h2 label.eventnum {
  /*color: #0ab0f6;*/
  float: right;
  color: #3c78c3; /*#3ed0d2;*/
  font-size: 14px;
  margin-right: 10px;
}
h2.toggle a {
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 31px;
  display: block;
}

/*h2.toggle a:after {
  content: ">"; //"\2192"; Right arrow
  color: #fff;
  display: block;
  float: right;
  margin-right: 1rem;
  font-size: 1.5em;
  font-weight: bold;
  //font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono";
  //font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-family: Verdana, Geneva, sans-serif;
}*/

h2.toggle a:hover {
    /*color: #ccc;*/
    color: #3c78c3; /*#3ed0d2;*/
}

a img.group_logo {
  margin: 0 0 0 15px;
  height: 30px;
  width: 32px;
  vertical-align: middle;
}

h2.trigger
{
  background:url(../images/togglebar_azure.png) left top no-repeat;
}
h2.active
{
  background:url(../images/togglebar_azure.png) left bottom no-repeat;
}

div.toggle_container {
    margin: 0 0 4px 0;
    padding: 10px 0 0 0;
    background: #ffffff;
    border-top: 0px solid #d6d6d6;
    font-size: 1.2em;
    width: 100%;
    overflow: hidden;
}

div.left {
  float: left;
  width: 70%;
  margin: 10px 12px;
}

