#headermenu {
  background-color: #333;
  width: 100%;
  margin: 0;
}

#headermenu ul,
#headermenu li,
#headermenu span,
#headermenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#headermenu:after,
#headermenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#headermenu a {
  color: #fff;
  display: inline-block;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;
  min-width: 40px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  /*text-shadow: 0 -1px 0 #333333;*/
}
#headermenu ul {
  list-style: none;
}
#headermenu > ul > li {
  float: left;
  display: inline;
}

#headermenu ul li a {
  /*border-bottom: 1px solid #5d5d5d;*/
  /*border-top: 1px solid #5d5d5d;*/
  border-right: 1px solid #5d5d5d;
  line-height: 48px;
  padding: 0 35px;
}
#headermenu .has-sub ul li a {
  /*border-top: 1px solid #5d5d5d;*/
  border-bottom: 1px solid #5d5d5d;
  border-left: 1px solid #5d5d5d;
  border-right: 1px solid #5d5d5d;
  display: block;
  line-height: 120%;
  text-align: center;
  padding: 8px 35px;
}
#headermenu > ul > li a:hover , #headermenu ul li .current{
  color: #fff;
  background-color:#3c78c3;
}

/*#headermenu > ul > li:first-child a {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-left: 1px solid #5d5d5d;
}
#headermenu > ul > li:last-child a {
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}*/

#headermenu .has-sub:hover ul {
  display: block;
}
#headermenu .has-sub ul {
  display: none;
  position: absolute;
  top: 48px; /* la posizione verticale assoluta da dove partono le voci dei sub-menu */
  left: 4px;
  min-width: 40px;
  text-align: center;
}
#headermenu .has-sub ul li {
  background-color: #333;
  text-align: center;
}
#headermenu .has-sub a img {
  vertical-align: middle;
  margin: 0 0 0 8px;
}

.logo {
  float: left;
}
.logo img {
  background-color: #fff;
  height: 48px;
  width: 48px;
  margin-right: 6px;
  margin-top: 2px;
}